html, body {
    height: 100%;
}

html { 
    box-sizing: border-box; 
} 

*, *:before, *:after { 
    box-sizing: inherit;
}

.clearfix::after{
    content: ' ';
    display: block;
    clear: both;
}

.borderShape {
    border-radius: 15px 15px 15px 15px;
}

.container {
    height: auto;
    min-width: 1714px;
    background-image: url("../images/sw-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;    /* cover the full screen with the image */
}

.row {
    border: 1px solid black;
}

.col {
    border: 1px dashed blue;
    width: 550px;
}

.charLogoRow {
    display: grid;
    grid-template-columns: auto auto 1fr 2fr 1fr .45fr;
}

.char-area {
    max-width: 720px;
}

.char-container {
    grid-column: 1;
    background-color: black;
    padding: 10px 10px;
    margin: 20px;
}

.char-container-used {
    background-color: black;
    grid-column: 2;
    padding: 10px 10px;
    margin: 20px;
}

.chars-thumb {
    width: 50px;
    height: 140px;
    margin: 0 5px;
}

.chars-thumb-p1:hover {
    border: 2px solid greenyellow;
}

.logo-box {
    grid-column: 5;
    margin: auto;

}

.starWarsLogo {
    width: 200px;
}

.player-select-row {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr .45fr;
}

.bttn-player-select {
    grid-column: 2;
    width: 180px;
    height: 75px;
    background-color: black;
    border-radius: 15px;
    margin: auto;
    font-size: 28px;
    letter-spacing: 5px;
    font-style: italic;
}

#shipsBox {
    grid-column: 1 / 2;
    background-color: black;
    margin-left: 20px;
}

.ships {
    height: 75px;
    padding: 10px;
}

#bttn-p1 {
    text-shadow: -1px 0 greenyellow, 0 1px greenyellow, 1px 0 greenyellow, 0 -1px greenyellow;
}

#bttn-cpu {
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

#bttn-replay {
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

.matchupBox {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
    grid-template-rows: 120px 120px;
    background-color: black;
    padding: 10px 10px;
    margin: 20px;
}

.matchupRow {
    display: grid;
    grid-template-columns: auto auto 1fr 2fr 1fr 1fr;
}

.matchupBox img {
    width: 100px;
    height: 240px;
}

#p1Matchup {
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto;
}

#p1HpBox {
    color: greenyellow;
    grid-column: 2;
    grid-row: 2;
    margin: auto;
}

#cpuHpBox {
    color: red;
    grid-column: 4;
    grid-row: 2;
    margin: auto;
}

.hpItem {
    padding: 8px 0;
    font-size: 32px;
}

.vsBox {
    grid-column: 2 / 5;
    grid-row: 1;
    color: black;
    text-align: center;
    margin-top: 20px;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
    font-size: 60px;
    letter-spacing: 5px;
    font-style: italic;
}

#attackBttn {
    grid-column: 3;
    grid-row: 2;
    border-radius: 50%;
    margin: 10px 0;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1.3em;
}

#cpuMatchup {
    grid-column: 5;
    grid-row: 1;
    margin: 0 auto;
}

.battle-activity-row{
    display: grid;
    grid-template-columns: auto auto 1fr 2fr 1fr 1fr;
}

.battle-activity-label {
    margin: 10px 0 0px 20px;
    width: 280px;
    padding: 5px;
    color:white;
    font-size: 28px;
    letter-spacing: 5px;
    font-style: italic;
}

#battle-console {
    height: 315px;
    width: 670px;
    font-size: 22px;
    background-color: black;
    color: white;
    padding: 20px 20px;
    margin: 20px;
    line-height: 1.5em;
    overflow-y: auto;
}

/* InterActivity Styles - Invoked by JavaScript */

#p1-charSelected {
    border: 2px solid greenyellow;
}

#cpu-charSelected {
    border: 2px solid red;
}

.cpu-defeated {
    filter: grayscale(100%);
    width: 50px;
    height: 140px;
    margin: 0 5px;
}

.chars-thumb-p1-clicked {
    border: 2px solid greenyellow;
}

.chars-thumb-cpu:hover {
    border: 2px solid red;
}

.chars-thumb-cpu-clicked {
    border: 2px solid red;
}

.warning {
    width: 500px;
    margin: 10px 20px;
    padding: 5px 0;
    border-radius: 15px;
    background-color: lightyellow;
    font-size: 36px;
    text-align: center;
    white-space: pre;
}

.p1Name {
    color: greenyellow;
}

.cpuName {
    color: red;
}

.attackActivity {
    color: yellow;
}

.damage {
    color: orange;
}