html, body {
    height: 100%;
}

html { 
    box-sizing: border-box; 
} 

*, *:before, *:after { 
    box-sizing: inherit;
}

.clearfix::after{
    content: ' ';
    display: block;
    clear: both;
}

.container {
    background-image: url("../images/sw-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;    /* cover the full screen with the image */
}

.row {
    border: 1px solid black;
    width: 100%;
}

.col {
    border: 1px dashed red;
    width: 550px;
}

.char-select {
    height: auto;
}

.char-container {
    width: 465px;
    height: auto;
    background-color: black;
    padding: 10px 10px;
    margin: 20px 40px;
}

.chars-thumb {
    width: 50px;
    height: 140px;
    margin: 0 5px;
}

.chars-thumb:hover {
    border: 2px solid greenyellow;
}

.chars-thumb-cpu:hover {
    border: 2px solid red;
}

.player-select {
    height: 80px;
}

.bttn-player-select {
    width: 180px;
    height: 75px;
    background-color: black;
    border-radius: 15px;
    margin-left: 55px;
    font-size: 28px;
    letter-spacing: 5px;
    font-style: italic;
}

#bttn-p1 {
    text-shadow: -1px 0 greenyellow, 0 1px greenyellow, 1px 0 greenyellow, 0 -1px greenyellow;
}

#bttn-cpu {
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

.fight-arena {
    
}

.matchupBox {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
    grid-template-rows: 120px 120px;
    background-color: black;
    padding: 10px 10px;
    margin: 20px;
    
}

.matchupBox img {
    width: 100px;
    height: 240px;
}

#p1Matchup {
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto;
}

.vsBox {
    grid-column: 2 / 5;
    grid-row: 1;
    color: black;
    text-align: center;
    margin-top: 20px;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
    font-size: 60px;
    letter-spacing: 5px;
    font-style: italic;
}

.attackBox {
    grid-column: 3;
    grid-row: 2;
    border-radius: 50%;
    margin: 10px 0;
    padding-top: 38px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1.3em;

}

#cpuMatchup {
    grid-column: 5;
    grid-row: 1;
    margin: 0 auto;
}

.battle-activity {
    height: 315px;
}

#yoda-thumb {
    margin-right: 0;
}



